h1{
    color: white;
}

.main-header {
    width: 100%;
    height: 100px;
    background: rgb(51, 53, 69);
    padding: 0px;
    box-shadow: none;
    display: grid;
    align-items: center;
}

.four-columns {
    grid-template-columns: 17rem  1rem auto auto;
}

.two-columns {
    grid-template-columns: 17rem auto;
}
.show-button {
    margin: 1rem;
}

.view-now-button {
    background-color: #f44336;
    float: right;
    color: #fff;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}