.details-container {
    color: #fff;
    display: flex;
    align-items: center;
}

.back-button {
    background-color: #f44336;
    float: right;
    color: #fff;
    height: 50px;
    margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 25px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.back-button::before {
    content: '<';
    position: absolute;
    top: 7%;
    left: 22px;
}

.theatre-details-container {
    display: flex;
    gap: 1rem;
}

.movie-name {
    font-size: 20px;
    font-weight: 700;
}

.movie-details-container {
    display: flex;
}

.separator {
    border-left: 1px solid #fff;
    padding: 0 10px;
}

.movie-tags-container {
    display: flex;
    align-items: center;
}

.movie-tag-separator  {
    background-color: #fff;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin: 0 10px;
}


.imdb-rating {
    display: flex;
    gap: 5px;
}
.imdb-rating-score {
    border: 1px solid #ccc;
    border-radius: 50%;
}